.input-container {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 5px;
}

.input-box {
	border: 2px solid purple;
	height: 60vh;
	text-align: left;
	padding-left: 0.4em;
	font-size: 20px;
	padding-bottom: 55vh;
	flex-grow: 2;
}

.preview-box {
	border: 2px solid purple;
	height: 60vh;
	flex-grow: 5;
}

.submit-button-container {
	margin-left: auto;
	margin-right: auto;
}

.submit-input,
.submit-cancel {
	margin: 5px;
	height: 5vh;
	font-size: 1.5rem;
	border: 2px solid black;
}
