.scrambled-word {
	font-family: 'Poppins', sans-serif;
	font-size: 4rem;
	color: #fbff12;
	letter-spacing: 10px;
	text-shadow: 3px 3px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000,
		1px 1px #000;
	font-weight: 700;
}
