.input-instructions {
	margin-top: 10vh;
}

.input-instructions-text {
	margin-bottom: 0px;
}
.input-container {
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	margin-bottom: 5px;
}

.input-box {
	border: 3px solid #d81159;
	border-radius: 10px;
	box-shadow: 3px 3px #0c0a3e;
	height: 40vh;
	width: 100%;
	text-align: left;
	padding-left: 0.4em;
	font-size: 1em;
}

.submit-button-container {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50vw;
}

.submit-input,
.submit-cancel {
	display: block;
	font-size: 1em;
	margin: 3px;
	height: 6vh;
	transition: all 0.5s ease;
	width: 50vw;
	border-radius: 10px;
	border: none;
	background-color: #ffbc42;
	font-weight: bold;
}

.submit-input:hover,
.submit-cancel:hover {
	cursor: pointer;
}

.submit-input:hover,
.submit-cancel:hover {
	background-color: #ba8931;
}

.title-name {
	border: 3px solid #18c0f0;
	box-shadow: 3px 3px #0c0a3e;
	height: 8vh;
	width: 60vw;
	margin-top: 30px;
	border-radius: 10px;
	font-size: 1.5em;
	text-align: center;
}

.title-name::placeholder {
	padding-left: 0.4em;
	font-size: 0.75em;
}

@media (min-width: 600px) {
	.title-name {
		width: 40vw;
	}
}
