.pass-the-ball-text {
	margin: 0px 0px 0px 0px;
	color: #0c0a3e;
	-webkit-text-stroke: 1px#fbff12;
	text-shadow: 3px 3px #ff206e, -1px -1px #ff206e, 1px -1px #ff206e,
		-1px 1px #ff206e, 1px 1px #ff206e;
}

@media (min-width: 600px) {
	.pass-the-ball-text {
		font-size: 4rem;
	}
}

@media (min-width: 800px) {
	.pass-the-ball-text {
		font-size: 6rem;
	}
}
