.scrambled-message-text {
	font-size: 2rem;
	font-family: Luckiest Guy, cursive;
	color: #0c0a3e;
	margin-top: 10px;
	margin-bottom: 0;
}

@media (min-width: 600px) {
	.scrambled-message-text {
		font-size: 4rem;
	}
}
