.entry-form {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	height: fit-content;
	width: 80vw;
	background-color: #18c0f0;
}

.form-tab,
.input-submit-button {
	display: inline-block;
	padding: 10px;
	border: 2px solid black;
	margin: 10px;
	font-size: 30px;
}

.form-tab:hover,
.input-submit-button:hover {
	cursor: pointer;
	background-color: #fbff12;
	color: black;
}

.form-tab-list-item {
	list-style: none;
	display: inline-block;
}

ul {
	padding: 0px;
}

.form-input {
	margin-left: auto;
	margin-right: auto;
	height: 5vh;
	width: 60vw;
	margin: 10px;
	font-size: 26px;
	padding: 0.4rem;
}

a {
	text-decoration: none;
}

.error-message {
	color: red;
	font-weight: bold;
	font-style: italic;
}

@media (min-width: 600px) {
	.entry-form {
		width: 50vw;
	}

	.form-input {
		width: 30vw;
	}
}
