.game-start-container {
	background-color: #0c0a3e;
	margin: 0px;
	height: 100vh;
	padding: 10px 0 10px 0;
}

.ready-message {
	margin-top: 1em;
	color: #d81159;
}

.game-instructions {
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 2em;
	margin: 0px;
	color: #ffbc42;
	background-color: #18c0f0;
	-webkit-text-stroke: 1px black;
}

.game-instructions-list-container {
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	color: #ffbc42;
}

.game-start-page {
	margin: 0px;
	padding-bottom: 40px;
	background-color: #0c0a3e;
}

.how-to-play-box {
	margin-top: 10vh;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #18c0f0;
	border-radius: 10px;
}

.instructions-list-item {
	color: #ffbc42;
}

.start-submit-cancel {
	display: block;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	transition: all 0.5s ease;
	width: 50vw;
	border-radius: 10px;
	border: none;
	background-color: #ffbc42;
	font-weight: bold;
}

.start-submit-cancel:hover {
	cursor: pointer;
}

.start-submit-cancel:hover {
	background-color: #ba8931;
}
