nav,
footer {
	padding: 1% 0;
	background-color: #aaa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

p {
	display: inline;
}

.link-text {
	margin: 0px 30px 0 30px;
}

.nav-title {
	margin: 0px 0px 0px 30px;
}

a:visited {
	color: black;
}

a:hover {
	color: yellow;
}

a {
	color: black;
}
