.answer-word {
	font-family: 'Poppins', sans-serif;
	font-size: 4rem;
	color: #fbff12;
	letter-spacing: 10px;
	text-shadow: 3px 3px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000,
		1px 1px #000;
	font-weight: 700;
}

.answer-message-text {
	font-size: 2rem;
	font-family: Luckiest Guy, cursive;
	color: #0c0a3e;
	margin-top: 10px;
	margin-bottom: 0;
}

@media (min-width: 600px) {
	.answer-message-text {
		font-size: 4rem;
	}

	.answer-word {
		font-size: 6rem;
	}
}
