.scrambled-word {
	font-family: 'Arial Black', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 50px;
	font-style: bolder;
}

.game-controls {
	display: flex;
	justify-content: space-around;
}

.guess-the-word-container {
	height: 400px;
}

.control-button {
	width: 20vw;
	height: 5vh;
	font-size: 1rem;
}

.control-button:hover {
	cursor: pointer;
}
