.game-controls {
	display: flex;
	justify-content: space-around;
	padding: 30px 0 30px 0;
	background-color: #18c0f0;
}

.guess-the-word-container {
	height: 100vh;
	background-color: #18c0f0;
	padding-top: 30px;
}

.scrambled-word-container,
.game-play-container,
.answer-page-container {
	height: 75vh;
}

.scrambled-message-text,
.scrambled-word-text,
.pass-the-ball-text {
	font-size: 2rem;
	font-family: Luckiest Guy, cursive;
}

.control-button {
	width: 20vw;
	font-size: 1rem;
	border: 2px solid #d81159;
	border-radius: 15px;
	color: white;
	background-color: #0c0a3e;
	font-weight: bold;
}

.control-button:hover {
	cursor: pointer;
}

@media (min-width: 1000px) {
	.guess-the-word-container {
		padding-top: 100px;
	}
}

@media (min-width: 700px) {
	.game-play-container,
	.scrambled-word-container,
	.answer-page-container {
		margin-top: 1em;
	}
}
