@import url('https://fonts.googleapis.com/css?family=Lemon|Roboto|Luckiest+Guy|Poppins&display=swap');

html,
* {
	box-sizing: border-box;
	color: #000000;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #ffffff;
	color: #0c0f0a;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}

a {
	display: block;
}

main {
	display: block;
}
