.end-message {
	margin-top: 30px;
}

.home-button {
	display: block;
	font-size: 0.73em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	transition: all 0.5s ease;
	width: 50vw;
	border-radius: 10px;
	border: none;
	background-color: #ffbc42;
	font-weight: bold;
}

.home-button:hover {
	cursor: pointer;
}

.home-button:active {
	background-color: #ba8931;
}
